*{
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
}

#page {
    box-sizing: border-box;
    width: 1120px;
    margin: 88px auto 80px;
}

header > p {
    margin-bottom: 8px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E1624F;
}

p{
    font-size: 16px;
    font-weight: regular;
    color: #333333;
}

section p {
    margin-bottom: 8px;
}

h1{
    font-size: 36px; 
}

h2 {
    font-size: 32px;
    margin: 8px 0px 8px;
}


ul {
    padding-left: 35px;
}   

ol {
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}

ul li {
    color: #0C51A7;
    font-weight: bold
}

.paragraph-footer {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.busan-header {
    margin-top: 40px;
    margin-bottom: 40px;
}

.header-amantes {
    margin: 64px auto 64px;
}

.header-amantes p {
    margin-bottom: 2px; 
}

.footer-images {
    margin-top: 20px;
    margin-bottom: 4px;
}

ul + img {
    margin-top: 48px;
}

hr {
    margin: 40px 0px 40px;
}

p + h2 {
    margin-bottom: 8px;
}

footer {
    margin: 65px auto 80px;
    text-align: center;
}

.description-image {
    font-size: 16px;
    margin-top: 24px;
    text-align: center;
    font-style: italic;
    color: #333333;
}

.description-footer {
    font-size: 16px;
    font-weight: Regular;
    margin-top: 24px;
    text-align: center;
    color: #333333;
}   

footer img {
    vertical-align: middle;
}